# OS files
Thumbs.db
.DS_Store
desktop.ini

# IDE files
.vscode/
.idea/

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
